TELEGRAM_TOKEN=seu_token_do_botfather
TELEGRAM_CHAT_ID=-1000000000000
PORTAL_USUARIO=seu_usuario
PORTAL_SENHA=sua_senha
VPN_USUARIO=usuario.vpn
VPN_SENHA=sua_senha_da_vpn
WHATSAPP_ALERTA_URL=http://127.0.0.1:3939/alerta
